#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_BL602_ADC_TEST
	tristate "\"Bl602_adc_test, World!\" example"
	default n
	---help---
		Enable the \"Bl602_adc_test, World!\" example

if EXAMPLES_BL602_ADC_TEST

config EXAMPLES_BL602_ADC_TEST_PROGNAME
	string "Program name"
	default "bl602_adc_test"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_BL602_ADC_TEST_PRIORITY
	int "Bl602_adc_test task priority"
	default 100

config EXAMPLES_BL602_ADC_TEST_STACKSIZE
	int "Bl602_adc_test stack size"
	default DEFAULT_TASK_STACKSIZE

endif
